.input-group {
    margin: 50px 0;
}
.card {
    margin: 10px;
   padding-top: 10px;
    display: inline-block;
    position: relative;
    
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-block {
    width: 80vw;
    
    margin-left: 10vw;

}
nav {
    background-color: #ccc;
}